<h1>UserNotifier#verified</h1>

<p>
<h5>Hello <%= @user.first_name.titleize %>,</h5>

<h5>Thank you for updating your email address to <%= @user.email %>.</h5>
<h5>Your email address has been verified in our system.</h5>

<h5>Thank you for visiting <%= t('site_name') %>.</h5>
</p>
