<h1>User Update Verification</h1>
<p>
<h5>Hello <%= @user.first_name.titleize %>,</h5>

<h5>Thank you for updating your email address to <%= @user.email %>.</h5>
<h5>Your email address has been verified in our system.</h5>

<h5>Thank you for visiting <%= t('Renewable Yield') %>.</h5>
</p>
