<h3>Renewable Yield is proud to finance solar projects for small
  residential solar providers. If you fall into this category,
  please sign up as a provider and submit as many projects as you
  need. The more detail you can provide, the more accurately we
  can analyze your proposal. </h3>
<h3>Once submitted, we run it through NREL's
  PV Watts model to calculate potential energy generation, gather the
  applicable tax incentives from the DSIRE database, run our own
  numbers and give the project a score. The higher the score, the better
  chance of that project getting funded.
  You will be able to see what you have submitted, which, if any,
  of your project have been funded and which have not. You will not
  have access to other provider's projects.</h3>
