<h1>About Renewable Yield</h1>

We here at Renewable Yield are not only excited to be doing our
part by funding and investing in renewable resources, but we also
donate 10% of our profits to our favorite causes.  At the moment,
those causes are:
<br>
Colorado Trout Unlimited http://www.coloradotu.org/ <br>
The Cleantech Open http://www2.cleantechopen.org/ <br>
Colorado Fourteeners Initiative  http://www.14ers.org/ <br>

We also have office space in Green Spaces, a Denver coworking space for green and
socially concious entrprenuers.http://greenspaceshome.com/

<br>
<%= link_to 'Business Canvas', business_canvas_path %>
<br>
<%= link_to 'Team', team_path %>
<br>
<%= link_to 'Home', root_path %>

