<h1>About Renewable Yield</h1>

We here at Renewable Yield are not only excited to be doing our
part by funding and investing in renewable resources, but we also
donate 10% of our profits to our favorite causes.  At the moment,
those causes are:
<br>
Trout Unlimited<br>
Streams Unlimited<br>
The CleanTech Open<br>
Colorado Fourteeners Initiative<br>

We also have office space in Green Spaces, a Denver coworking space for green and
socially concious entrprenuers.http://greenspaceshome.com/

<%= image_tag("Renewable_Yield_Canvas.jpg", size: "800x500", :alt => "rss feed") %>
<br>
<%= link_to 'Home', root_path %>
<br>
<%= link_to 'About', about_path %>
