<h1>Team</h1>
<%= image_tag("HidalgoBioPic.JPG", size: "150x200",:alt => "rss feed") %>
<h3>Patrick Hidalgo is a financial industry executive with over
  twenty years of buy side capital markets experience. Most recently, he
  spent nearly ten years working for a Denver based mortgage
  backed securities hedge funds as the Director of Trading
  Operations.  Prior to that, he spent six years monetizing $15
  billion home equity lines of credit, fixed rate seconds and
  subprime loans for Countrywide.  He has an MBA from the
  University of Illinois and undergraduate degree in finance
  from the University of Colorado.  Patrick is currently a volunteer
  for the Cleantech Open and Rockies Venture Club.
  </h3>
  <br>
<%= image_tag("Mystery_Man.jpg", size: "150x200", :alt => "rss feed") %>
<h3>Future Co-founder.  Shares similar ideas about the vision, size
and what it will take to get it done.  Should have different
expertise, orientation and perspective.  If you already knew who
I was and you saw me in a shopping mall, your initial reaction
would be to come over and say hello instead of running away or hiding.</h3>
<br>
<%= link_to 'Business Canvas', business_canvas_path %>
<br>
<%= link_to 'About', about_path %>
<br>
<%= link_to 'Home', root_path %>
